.oswald-main {
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  font-style: normal;
}

header {
    height: auto;
    width: auto;
}

.title {
    margin: 0 10px 0 10px;
    font-size: xx-large;
    font-weight:bold;
    text-align: center;
}

nav ul {
    list-style: none;
    background-color: #000;
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

nav li {
    font-size: 1.2em;
    line-height: 10px;
    height: 10px;
    display: inline-block;
    margin: 2.5%;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    
}

nav a:hover {
    color: #8d4141;
}

section {
    margin: 15px;
    padding: 15px;
}

#about {
    font-size: 1.15rem;
    width: auto;
    display: inline-block;
}

#enka {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 391px;
}

.carousellook {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.summary {
    font-size: 1.15rem;
    margin: 10px 0 10px 0;
    padding: 2px;
    text-align: left;
}

#pricing {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

#notfound {
    font-size: xx-large;
    text-align: center;
    font-weight: 900;
    color: #8d4141;
}

.socials {
    list-style: none;
    background-color: #000;
    text-align: center;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
}

footer li {
    font-size: 1.2em;
    line-height: 10px;
    height: 10px;
    display: inline-block;
    margin: 2.5%;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: block;
}

footer a:hover {
    color: #8d4141;
}

footer p {
    background-color: #000;
    color: #fff;
}