body { 
    margin: 20;
    padding: 20;
    
}

.oswald-main {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

nav ul {
    list-style: none;
    background-color: #8D4141;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    font-size: 1.2em;
    line-height: 10px;
    height: 10px;
    display: inline-block;
    margin: 2.5%;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
}

nav a:hover {
    color: #4a4a4f;
}

section {
    width: 66%;
    height: 66%;

}

footer {
    list-style: none;
    background-color: #8D4141;
    text-align: center;
    padding: 0;
    margin: 0;
}

footer li {
    font-size: 1.2em;
    line-height: 10px;
    height: 10px;
    display: inline-block;
    margin: 2.5%;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: block;
}

footer a:hover {
    color: #4a4a4f;
}

footer p {
    margin: 15px 0 15px 0;
    color: #fff;

}